/* ------------------- All Pages ------------------- */

body, html {
  width: 100vw;
  background-color: rgb(25, 25, 25);
  color: white;
  
}

.fadeInTop {
  -webkit-animation: fadeInTop 2.2s both;
  -moz-animation: fadeInTop 2.2s both;
  -o-animation: fadeInTop 2.2s both;
  animation: fadeInTop 2.2s both;
}
@-webkit-keyframes fadeInTop {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInTop {
  0%{
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInTop {
  0%{
    opacity: 0;
    -o-transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


/* ------------------- NavBar ------------------- */

.navbar-home {
  position: relative;
  top: 3vh;
  left: 60vw;
  background: #272727;
  font-size: 1.3em;
  color:rgb(32, 182, 174);
  box-shadow: 10px 10px rgb(20, 187, 179);
}

a.navbar-link:hover {
  color: black;
  background: linear-gradient(to right, rgb(20, 187, 179), rgba(245, 245, 241, 0));
  padding-left: 15px !important;
}

.navbar-scroll {
  display: none !important;
}

/* ------------------- Home Page ------------------- */

.home-page {
  width: 100vw;
}

.style-border {
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  border: 3px rgb(32, 182, 175) solid;
  background-color: rgb(19, 19, 19);
}

.main-intro {
  position: relative;
  top: 350px;
  left: 130px;
  width: 50%;
}

.intro-styling {
  position: relative;
  top: 550px;
  left: 50px;
  width: 250px;
  height: 150px;
  border-image: linear-gradient(to top right, rgb(27, 235, 224), rgb(252, 255, 95)) 2;
  border-left: 8px solid transparent;
  border-bottom: 8px black solid;
}

h1.main-title {
  font-size: 5em;
}

h2.description-title {
  font-size: 2em;
  color:rgb(192, 192, 192)
}

/* ------------------- About Me ------------------- */

.aboutme-page {
  position: inline-block;
  height: 50vh;
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
}

.aboutme-section {
  box-shadow: 10px 10px rgb(20, 187, 179);
  background-color: #272727;
  padding: 30px;
}

/* ------------------- Project Page ------------------- */

.project-page {
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
  padding: 5%;
  background-color: #272727;
  box-shadow: 10px 10px rgb(20, 187, 179);
}

.project-card {
  width: 30%;
  background-color: rgb(72, 163, 206);
}

/* ------------------- Work Experience ------------------- */

.work-ex-page {
  background-color: #272727;
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
  box-shadow: 10px 10px rgb(20, 187, 179);
}

.work-dates {
  width: 90px !important;
}
/* ------------------------- Tabs ------------------------- */

.show-tab {
  display: flex;
}

.hide-tab {
  display: none;
}

/* ------------------------- Footer ------------------------- */

.footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #272727;
  min-width: 100vw;
}